<%- include('partials/header') -%>
<!--HOME PAGE-->
<!--SECTION 1-->
<div class="rf-container-fluid rf-pt-12w">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-11w rf-pb-4w">
    <div id="talentText" class="rf-col-md-4 rf-col-xs-12">
      <h1 id="sectionOneTitle" class="sectionTitle">Élèves et anciens élèves des Écoles de Service Public,<br>
        Devenez tuteurs&nbsp;!</p>
      </h1>
      <div class="sectionSubTitle" class="rf-text--lg">Rejoignez la communauté des tuteurs et participez à la réussite
        des élèves des Prépas Talents.
      </div>
      <a id="sectionOneButton" class="rf-btn rf-btn rf-btn--alt"
        href="https://www.demarches-simplifiees.fr/commencer/tutorat-talents-service-public">Je
        postule</a>
    </div>
    <div id="talentImage" class="rf-col-md-4 rf-col-xs-12">
      <img id="talents" class="fr-responsive-img" src="../../static/images/talents-service-public.png"
        alt="Tuteurs Talents Service Public" />
    </div>
  </div>
</div>
<!--SECTION 2-->
<div id="sectionTwo" class="rf-container-fluid rf-centered rf-pb-6w rf-pt-2w">
  <div id="sectionTwoContainer" class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-3w">
    <div class="rf-grid-row rf-grid-row--center">
      <div>
        <h2 class="sectionTitle">Accompagner des élèves : pré-requis et engagements</h2>
        <h3 class="sectionSubTitle">Engagez-vous au sein des Prépas Talents en devenant
          tuteur&nbsp;!</h3>
      </div>
    </div>
    <div id="sectionTwoCardContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--gutter rf-p-6w">
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Heart.svg" alt="" />
          <p class="sectionTwoCardText">Avoir envie d’échanger, être ouvert et à l’écoute.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Clock.svg" alt="" />
          <p class="sectionTwoCardText">Se rendre disponible.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Plane.svg" alt="" />
          <p class="sectionTwoCardText">Encourager, stimuler et aider à prendre confiance.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Words.svg" alt="" />
          <p class="sectionTwoCardText">Partager, transmettre vos expériences et connaissances.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Light.svg" alt="" />
          <p class="sectionTwoCardText">Prodiguer des conseils méthodologiques.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Calendar.svg" alt="" />
          <p class="sectionTwoCardText">Avoir passé un concours de la fonction publique il y a moins de 6 ans.</p>
        </div>
      </div>
    </div>
    <button id="openModaleButton" class="rf-btn rf-btn--secondary" data-rf-opened="false" aria-controls="rf-modal-1"
      title="Les Prépas « Talents de service public »">Les Prépas Talents
    </button>
    
    <button id="openModaleButton" class="rf-btn rf-btn--secondary" data-rf-opened="false" aria-controls="rf-modal-2"
      title="Les Prépas « Talents de service public »">La charte
    </button>
        
              
    <!--MODALE 1-->
    <dialog aria-labelledby="rf-modal-title-modal-1" role="dialog" id="rf-modal-1" class="rf-modal">
      <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
          <div class="rf-col-12 rf-col-md-6">
            <div class="rf-modal__body">
              <div class="rf-modal__header">
                <button class="rf-link--close rf-link" title="Fermer la fenêtre modale" aria-controls="rf-modal-1"
                  target="_self">Fermer</button>
              </div>
    
              <div class="rf-modal__content">
                <h2 id="rf-modal-title-modal-1" class="rf-modal__title"><span
                    class="rf-fi-arrow-right-line rf-fi--sm"></span>«&nbsp;Les Prépas Talents&nbsp;»</h2>
                <p id="modalText">A partir de septembre 2021, une soixantaine de Prépas Talents, formation d'excellence
                  dans les écoles de service public, les instituts d'études
                  politiques et les universités afin de préparer les élèves aux concours de la fonction publique de
                  catégorie B, A et A+, seront créées.<br>
                  Les Prépas Talents sont destinées aux étudiants boursiers les plus méritants
                  de l’enseignement supérieur pour préparer les concours donnant accès aux postes d’encadrement de la
                  fonction publique.<br>
                  En 2021, 1700 places seront offertes.<br>
                  Le rôle des tuteurs est essentiel auprès des élèves des Prépas Talents. En
                  effet, les tuteurs accompagnent au maximum deux élèves dans leur préparation, en leur partageant,
                  d’une part, des conseils méthodologiques sur les épreuves de concours et, d’autre part, des clés de
                  réussite notamment organisationnelles pour vivre cette période intense de la manière la plus sereine
                  possible.</p>
                </p>
              </div>                     
            </div>
          </div>
        </div>
      </div>
    </dialog>
  </div>
</div>

<!--MODALE 2-->
    <dialog aria-labelledby="rf-modal-title-modal-1" role="dialog" id="rf-modal-2" class="rf-modal">
      <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
          <div class="rf-col-12 rf-col-md-6">
            <div class="rf-modal__body">
              <div class="rf-modal__header">
                <button class="rf-link--close rf-link" title="Fermer la fenêtre modale" aria-controls="rf-modal-2"
                  target="_self">Fermer</button>
              </div>
    
              <div class="rf-modal__content">
                <h2 id="rf-modal-title-modal-1" class="rf-modal__title"><span
                    class="rf-fi-arrow-right-line rf-fi--sm"></span>La charte</h2>
                <p id="modalText">Les Prépas Talents sont des formations d&#39;excellence présentes au sein des écoles de service public,
                des instituts d&#39;études politiques et des universités notamment. Elles ont pour finalité de préparer les
                élèves aux concours de la fonction publique de catégorie B, A et « A+ » dans des conditions
                d’accompagnement renforcé favorisant la réussite de tous les préparationnaires.<br>
                Les Prépas Talents sont ainsi destinées aux étudiants de condition modeste les plus méritants de
                l’enseignement supérieur afin de préparer les concours donnant particulièrement accès aux postes
                d’encadrement de la fonction publique.<br>
                Chaque étudiant inscrit en Prépa Talents bénéficiera d’un tutorat de qualité accompli par des fonctionnaires et hauts-fonctionnaires en poste, ou encore par des fonctionnaires stagiaires des écoles de service public.<br>
                La présente charte a alors pour objet de préciser la nature de l’engagement respectif entre le tuteur et l’étudiant.</p>

<p id="rf-modal-title-modal-1"><strong>Engagement du tuteur</strong></p>
<p id="modalText">Le tuteur s’engage à :<br>
- établir une relation de confiance avec l’étudiant, dans le respect de la confidentialité des
échanges<br>
- être disponible pendant l’ensemble de la durée de préparation aux concours de la fonction
publique<br>
- être et demeurer en contact régulier avec l’étudiant<br>
- définir les modalités de fonctionnement caractéristique de la relation de tutorat calendrier
de rencontres, exercices de tutorat, etc...)<br>
- faire preuve d’adaptabilité, d’écoute bienveillante et d’ouverture<br>
- mobiliser l’ensemble de ses compétences en lien avec le concours préparé par le
préparationnaire<br>
- faire partager son expérience professionnelle, ainsi que toutes informations qu’il estimerait
utiles de transmettre<br>
- prodiguer des conseils méthodologiques en termes d’organisation du travail, de rédaction
administrative, de connaissance de l’environnement professionnel, d’attendus des concours,
d’actualité thématique, etc.<br>
- mobiliser, en fonction des besoins de l’étudiant, des personnes ressources<br>
- avertir le responsable pédagogique lors de difficultés rencontrées avec un étudiant<br>
- participer à une formation en ligne sur le tutorat</p>

<p id="rf-modal-title-modal-1"><strong>Engagement de l'étudiant</strong></p>
<p id="modalText">L’étudiant s’engage à : <br>
- s’impliquer dans la mise en œuvre du dispositif de tutorat<br>
- participer activement et assidûment aux échanges de tutorat<br>
- respecter le calendrier de réunions établi en accord avec le tuteur dès la mise en place du
tutorat<br>
- signaler à son tuteur toute réunion ou rendez-vous qu’il ne pourrait honorer<br>
- solliciter son tuteur en tant que de besoin et l’alerter en cas de difficultés<br>
- être à l’écoute des conseils prodigués par le tuteur<br>
- communiquer les résultats de ses épreuves dès qu’il en a connaissance<br>
- avertir le responsable pédagogique dans l’hypothèse de difficultés rencontrées avec le tuteur<p>

                 
                </p>
              </div>                     
            </div>
          </div>
        </div>
      </div>
    </dialog>
  </div>
</div>


<!--SECTION -->
<div id="sectionThree" class="rf-container-fluid rf-centered rf-pb-6w rf-pt-2w">
  <div id="sectionThreeContainer" class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-3w">
    <div class="rf-grid-row rf-grid-row--center">
      <h2 class="sectionTitle">Comment ça marche&nbsp;?</h2>
    </div>
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter rf-my-3w">
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">1</div>
          <img class="sectionThreeCardImage" src="../../static/images/1.png" alt="" />
          <p class="sectionThreeCardImageText">Je remplis le formulaire d’inscription en créant un compte sur
            Démarches
            Simplifiées.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">2</div>
          <img class="sectionThreeCardImage" src="../../static/images/1.png" alt="" />
          <p class="sectionThreeCardImageText">Je reçois ma confirmation d’inscription.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">3</div>
          <img class="sectionThreeCardImage" src="../../static/images/3.png" alt="" />
          <p class="sectionThreeCardImageText">Je participe au programme de formation, j’intègre le vivier de tuteurs.
          </p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div id="id" class="rf-text--sm">
          <div class="sectionThreeNumber">4</div>
          <img class="sectionThreeCardImage" src="../../static/images/4.png" alt="" />
          <p class="sectionThreeCardImageText">Un responsable pédagogique d'une Prépa Talents me contacte pour
            m’affecter
            une ou un élève.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div id="id" class="rf-text--sm">
          <div class="sectionThreeNumber">5</div>
          <img class="sectionThreeCardImage" src="../../static/images/5.png" alt="" />
          <p class="sectionThreeCardImageText">Je signe la convention. L’élève me contacte et je démarre le tutorat.
          </p>
        </div>
      </div>
    </div>
    <a class="rf-btn rf-btn rf-btn--alt"
      href="https://www.demarches-simplifiees.fr/commencer/tutorat-talents-service-public">Je m’engage</a>
      
    <button class="rf-btn rf-btn rf-btn--alt"><a href="/faq">J'ai encore des questions ?</a></button>
    
  </div>
</div>
<!--SECTION 4-->
<div id="sectionFour" class="rf-container-fluid rf-centered rf-py-6w">
  <div id="sectionTwoContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <h2 class="sectionTitle">Ils témoignent</h2>
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle">
      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Arno <span class="sectionFourCardRole">élève</span></p>
            <p class="sectionFourCardSubTitle">Le tutorat m’a permis de bénéficier de l'expérience d'un ancien
              préparationnaire aux concours et de recueillir des conseils précis et précieux, tant sur l’aspect
              pédagogique que personnel, fruit de l’expérience de mon tuteur. Une vraie valeur ajoutée à ma
              préparation afin de parfaire les enseignements reçus.
            </p>
          </div>
        </div>
      </div>
      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Nicolas <span class="sectionFourCardRole">tuteur</span></p>
            <p class="sectionFourCardSubTitle">Être tuteur, c’est pouvoir partager avec un futur
              candidat ou une future candidate des conseils de méthode pour chaque épreuve mais également apporter un
              appui pour vivre
              sereinement sa préparation des concours. Ce sont des échanges réguliers pour rappeler que nous avons
              vécu personnellement les mêmes interrogations et transmettre son goût du service public en discutant des
              emplois occupés à la suite des concours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--SECTION 5
  <div id="sectionFive" class="rf-container-fluid rf-centered rf-my-6w">
    <div class="rf-grid-row rf-grid-row--center">
      <h2 class="sectionTitle">Les partenaires classes “Talents”</h2>
    </div>
    <div id="sectionTFiveCardContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--middle">
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Ena.svg" alt="Ena" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Ipag.svg" alt="Ipag" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/SciencesPo.svg" alt="SciencesPo" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Resp.svg" alt="Resp" />
      </div>
    </div>
  </div>-->
<%- include('partials/footer') -%>
